body {
	font-family: 'Georgia', serif;
  /*background-color: #dfe1e8;*/
  background-color: lightgrey;
  margin: 10;
  padding: 10;
}
h3 {
  font-family: 'Tahoma', serif;
}

#lollipop-area {

}

#map-area {
	position: absolute;
        top: 25%;
        bottom: 20%;
        width: 99%;
}

th {
  padding:
		2px 4px;
}

td {
	padding:
		2px 4px;
}
